<h1>タスクの一覧 (タスク状態) </h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %> ( <%= task.status %> )</li>
  <% end %>
</ul>

<%= link_to '新規タスクを投稿する', new_task_path %>
